body {
    background-image: url('Resources/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



.btn:hover {
    background: linear-gradient(to right, #0079ff, #004fd7);
    color: white;
}

header {
    background-color: blueviolet;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-logo {
    width: 100px;
    height: auto;
    border-radius: 100%;

}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-menu ul li {
    margin-right: 20px;
}

.header-menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 30px;
}

.header-menu ul li a:hover {
    font-size: 35px;
    color: black;
}


.bg-gray {
    background-color: #312450;
}


.btn-blueviolet {
    background-color: #d1f1ff;
    color: #0060ff;
    border-color: #0060ff;
    transition: background-color 0.3s;

}

.text-with-gif {
    display: flex;
    align-items: center;
}


.text-with-gif img {
    margin-left: 20px;
    border-radius: 20%;
    transition: border-radius 0.3s;
}

.text-with-gif img:hover {
    border-radius: 0;
}

footer {
    background-color: #ebf8ff;
}